## Python Lists

Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner.

In [ ]:
lst = []

In [ ]:
a = list()

In [ ]:
type(a)

list

In [ ]:
type(lst)

list

In [1]:
lst = [1,2,3,4, "dream","sapna",4.5, 2+5j]

In [2]:
print(lst)

[1, 2, 3, 4, 'dream', 'sapna', 4.5, (2+5j)]

### how to access the element in list.

In [3]:
lst

[1, 2, 3, 4, 'dream', 'sapna', 4.5, (2+5j)]

In [4]:
#You access the list items by referring to the index number:

lst[4]

'dream'

In [5]:
# Negative Indexing
lst[-1]

(2+5j)

In [6]:
lst[-4]

'dream'

In [7]:
# Range of Indexes

lst

[1, 2, 3, 4, 'dream', 'sapna', 4.5, (2+5j)]

In [8]:
# list[start:end:step]

lst[:]

[1, 2, 3, 4, 'dream', 'sapna', 4.5, (2+5j)]

In [9]:
lst[0:]

[1, 2, 3, 4, 'dream', 'sapna', 4.5, (2+5j)]

In [10]:
lst[:5]

[1, 2, 3, 4, 'dream']

In [11]:
lst[2:6]

[3, 4, 'dream', 'sapna']

In [12]:
lst[1::2]

[2, 4, 'sapna', (2+5j)]

In [13]:
# if u want to print a reverse order u can use it -ve index.

lst[::-1]

[(2+5j), 4.5, 'sapna', 'dream', 4, 3, 2, 1]

In [14]:
lst[-4:]

['dream', 'sapna', 4.5, (2+5j)]

In [15]:
# Change Item Value :- if u wants to change the value of existing list..

animals = ["Elephant","zebra","goat","lion","tiger","deer","buffalo"]
animals

['Elephant', 'zebra', 'goat', 'lion', 'tiger', 'deer', 'buffalo']

In [16]:
animals[2]="cow"

In [17]:
animals

['Elephant', 'zebra', 'cow', 'lion', 'tiger', 'deer', 'buffalo']

### Loop Through a List

In [18]:
animals

['Elephant', 'zebra', 'cow', 'lion', 'tiger', 'deer', 'buffalo']

In [19]:
for i in animals:
    print(i)

Elephant
zebra
cow
lion
tiger
deer
buffalo

### Methods in list
- len()
- append()
- insert()
- extend()
- sort()
- reverse()
- sum()
- pop()
- max()
- remove()
- clear()
- copy()
- count()

In [20]:
animals

['Elephant', 'zebra', 'cow', 'lion', 'tiger', 'deer', 'buffalo']

#### len()

In [21]:
len(animals)

7

####  append(): 
Adds an element at the end of the list

In [27]:
list1 =[]

list1.append('Kumari')

In [28]:
list1

['Kumari']

In [29]:
list1.append(["sfdshj","siadmat","lsdf","hanu"])

# we can store list inside a list

In [30]:
list1

['Kumari', ['sfdshj', 'siadmat', 'lsdf', 'hanu']]

In [31]:
list1.append(4567542)

In [32]:
list1

['Kumari', ['sfdshj', 'siadmat', 'lsdf', 'hanu'], 4567542]

In [33]:
list1[1]   # is returns a list

['sfdshj', 'siadmat', 'lsdf', 'hanu']

#### list inside list

In [34]:
l = [[1,2,3],[10,20,30],[11,22,33]]
l

[[1, 2, 3], [10, 20, 30], [11, 22, 33]]

In [35]:
l[0][2]

3

In [36]:
l[1][1]

20

In [37]:
l[2][0]

11

In [38]:
l[2][1]

22

#### insert() 
To add an item at the specified index, use the insert() method

In [39]:
animals

['Elephant', 'zebra', 'cow', 'lion', 'tiger', 'deer', 'buffalo']

In [40]:
animals.insert(1,23)

In [41]:
animals

['Elephant', 23, 'zebra', 'cow', 'lion', 'tiger', 'deer', 'buffalo']

In [42]:
animals.insert(5,"crocodile")

In [43]:
animals

['Elephant',
 23,
 'zebra',
 'cow',
 'lion',
 'crocodile',
 'tiger',
 'deer',
 'buffalo']

#### extend() 
method, which purpose is to add elements from one list to another list

In [44]:
l1 = [1,2,3]
l2 = ['a','b','c']

l1.extend(l2)

In [45]:
l1

[1, 2, 3, 'a', 'b', 'c']

In [46]:
l2

['a', 'b', 'c']

In [47]:
l2.extend(l1)

In [48]:
l2

['a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

####  sort()
Sorts the list

In [49]:
num = [2,5,1,7,5,8,87,45,33,0]

num.sort()
num

# by default assending order

[0, 1, 2, 5, 5, 7, 8, 33, 45, 87]

In [50]:
n1 = [2,4,7,2,0]
n1.sort(reverse = True)

n1

[7, 4, 2, 2, 0]

In [51]:
num[::-1]

[87, 45, 33, 8, 7, 5, 5, 2, 1, 0]

In [52]:
l1 = ['a','asdf','jfhhjks']
l1.sort()
l1

['a', 'asdf', 'jfhhjks']

####  reverse()
Reverses the order of the list

In [53]:
list12 =["saaaa","paaaaaaaaaa","tttttta",54,2,24,6,4.8]

list12.reverse()
list12

[4.8, 6, 24, 2, 54, 'tttttta', 'paaaaaaaaaa', 'saaaa']

####  sum()

In [54]:
num2 =[1,2,7,8,6,8,9,5]
sum(num2)

46

#### pop()
Removes the element at the specified position

In [55]:
num3 =[4,5,6,7,8,9,5,5,"sapna"]
num3.pop()

'sapna'

In [56]:
num3

[4, 5, 6, 7, 8, 9, 5, 5]

In [57]:
num3.pop(2)

6

In [58]:
# reverse a list using pop and append method

l = [2,45,'S',32,77,65,'sad','A',765,86,'D']
new = []
def my_reverse(List):
  for i in range(len(List)):
    ele = List.pop()
    new.append(ele)
  return new

In [59]:
my_reverse(l)

['D', 86, 765, 'A', 'sad', 65, 77, 32, 'S', 45, 2]

####  max() & min()

In [60]:
num4 =[7874,6541,2453,6547,56.362,451.254]
max(num4)

7874

In [61]:
min(num4)

56.362

#### remove()
The remove() method removes the first occurrence of the element with the specified value.

In [62]:
sapu =["sourav","ram","golu","ladoo","peda","golu","golu"]
sapu.remove(sapu[2])
sapu

['sourav', 'ram', 'ladoo', 'peda', 'golu', 'golu']

In [63]:
l = [1,2,3,'sda','dfs']
l.remove('sda')
l

[1, 2, 3, 'dfs']

####  clear()
Removes all the elements from the list

In [64]:
l

[1, 2, 3, 'dfs']

In [65]:
l.clear()
l

[]

#### copy()
Returns a copy of the list

In [66]:
animals

['Elephant',
 23,
 'zebra',
 'cow',
 'lion',
 'crocodile',
 'tiger',
 'deer',
 'buffalo']

In [67]:
A=animals.copy()
print(A)

['Elephant', 23, 'zebra', 'cow', 'lion', 'crocodile', 'tiger', 'deer', 'buffalo']

In [68]:
A.pop()

'buffalo'

In [69]:
print(A)
print(animals)

['Elephant', 23, 'zebra', 'cow', 'lion', 'crocodile', 'tiger', 'deer']
['Elephant', 23, 'zebra', 'cow', 'lion', 'crocodile', 'tiger', 'deer', 'buffalo']

In [70]:
l3 =[5,4,2,3,2]
a=l3
print(a)
print(l3)

[5, 4, 2, 3, 2]
[5, 4, 2, 3, 2]

In [71]:
a.pop()
print(a)

[5, 4, 2, 3]

In [72]:
print(l3)

[5, 4, 2, 3]

#### count()
Returns the number of elements with the specified value

In [73]:
num7 =[1,4,4,5,2,3,7,8,9,5,4,4.5,4,5,5,6,6]
num7.count(5)

4

### List Comprehension

In [74]:
latters = [i for i in "Sapna"]

latters

['S', 'a', 'p', 'n', 'a']

In [75]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]

result =[i*j for i in l1 for j in l2]
result

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [76]:
lst = [1,2,2,5,7,'djssa',5,8,3,9,'fj','sdh','asdh','s']

[i for i in lst if type(i) == str]

['djssa', 'fj', 'sdh', 'asdh', 's']

In [77]:
l = [1,24,43,24,5,6,7,89,53,32,3,322,]
even = [i for i in l if i%2==0]
odd = [i for i in l if i%2!=0]

print('even numbers list',even)
print('odd numbers list',odd)

even numbers list [24, 24, 6, 32, 322]
odd numbers list [1, 43, 5, 7, 89, 53, 3]

### List Programs

 Q) Write a Python program to sum all the items in a list

In [82]:
lst =input('Enter numbers seperated by space  - ').split()
print(lst)
l = []
sum = 0
for i in range(len(lst)):
  sum = sum + int(lst[i])

print(sum)

Enter numbers seperated by space  - 2 3 2 5 6 5 3
['2', '3', '2', '5', '6', '5', '3']
26

 Q) To find the square of even number in a list

In [83]:
num = [1,2,3,4,5,6,7,8,9,10]

for i in num:
    if i%2==0:
        print(i**2)

4
16
36
64
100


Q. Find the number is even or odd

In [84]:
num = int(input("enter a no "))

if int(num)%2 == 0:
    print("%d is even number" %(num))
else:
    print("%d id odd number " %(num))

enter a no 4
4 is even number

Q. Write a Python program to multiplies all the items in a list

In [85]:
l = [2,4,3,6,9,7]
mul = 1
for i in l:
  mul = mul * i

print(mul)

9072

Q) Write a Python program to get the largest number from a list.

In [86]:
lst = [2,43,5,54,7,6,8766,9,765,5,65,4]

max = lst[0]
for i in lst:
  if max < i:
    max = i

print('largest number from list %d' %max)

largest number from list 8766

Q) Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

Sample List : ['abc', 'xyz', 'aba', '1221']

Expected Result : 2

In [87]:
saml = ['asas','ds','4323','432','616','sdas','yeyey']

count = 0
for word in saml:
  if (len(word) >= 2 and word[0] == word[-1]):
    count += 1
print('There is %d strings where the string length is 2 or more and the first and last character are same'%count)

There is 3 strings where the string length is 2 or more and the first and last character are same

Q) Write a Python program to remove duplicates from a list.

In [88]:
l = [1,2,1,3,5,4,6,4,7,8,6,9,6,5,4,5,6,7]

r = []
for i in l:
  if i not in r:
    r.append(i)

r

[1, 2, 3, 5, 4, 6, 7, 8, 9]

 Q) Write a Python program to check a list is empty or not.

In [89]:
l = []

if len(l) == 0:
  print('empty list')

else:
  print('list is not empty')

empty list

Q) Write a Python program to clone or copy a list.

In [90]:
ol = [9,4,2,376,5,8]
cl = []
for i in ol:
  cl.append(i)
cl

[9, 4, 2, 376, 5, 8]

Q) Write a Python program to find the list of words that are longer than n from a given list of words.

In [91]:
l = ['a','ab','absbd','jgdser','dhf','fkff','sdkjjfke']
print(l)
num = int(input('Enter a number : '))
l1 = []
for i in l:
  if len(i)>num:
    l1.append(i)
l1

['a', 'ab', 'absbd', 'jgdser', 'dhf', 'fkff', 'sdkjjfke']
Enter a number : 5

['jgdser', 'sdkjjfke']

Q) Write a Python function that takes two lists and returns True if they have at least one common member.

In [104]:
def fun(l1, l2):
  for i in range(len(l1)):
    for j in range(len(l2)):
      if l1[i] == l2[j]:
        return True

In [105]:
fun([1,2,3,4],[5,6,7,8])

In [106]:
fun([1,2,3,4],[5,3,7,8])

True

In [107]:
fun([1,2,3,4],[4,6,7,8])

True

Q) Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. 

Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

Expected Output : ['Green', 'White', 'Black']

In [108]:
l= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
l= [x for (i,x) in enumerate(l) if i not in (0,4,5)]
   
l

['Green', 'White', 'Black']

In [109]:
lw = [1,82,34,4,5,6,7,8]
for (i,x) in enumerate(lw):
  print(i)
  #print(x)

0
1
2
3
4
5
6
7

Q) Write a Python program to generate a 3 * 4 * 6 3D array whose each element is *.

In [110]:
array_3d = [[['*' for col in range(6)]for col in range(4)]for row in range(3)]
array_3d

[[['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']]]

Q) Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [111]:
lst = [0,1,2,3,4,5,6,7,8,9,10,11,12,13]
l = []
for i in lst:
  if i%2 != 0:
    l.append(i)

l

[1, 3, 5, 7, 9, 11, 13]

In [112]:
# using list comprihension
lst = [0,1,2,3,4,5,6,7,8,9,10,11,12,13]
result = [i for i in lst if i%2 != 0]
result

[1, 3, 5, 7, 9, 11, 13]

Q) Write a Python program to shuffle and print a specified list.

In [113]:
from random import shuffle
fruits = ['mango', 'banana', 'graps', 'apple', 'papaya', 'orange']
shuffle(fruits)
fruits

['apple', 'papaya', 'orange', 'banana', 'graps', 'mango']

In [114]:
num = [1,2,3,4,5,6,7]
shuffle(num)
num

[6, 3, 5, 7, 2, 4, 1]

In [115]:
colors = ['Red', 'Blue', 'Green', 'Black', 'White']
num_colors = len(colors)
print("We have " + str(num_colors) + " colors.")

We have 5 colors.

In [116]:
for col in colors:
 print("Welcome, " + col + "!")
print("Welcome, we're glad to see you all!")

Welcome, Red!
Welcome, Blue!
Welcome, Green!
Welcome, Black!
Welcome, White!
Welcome, we're glad to see you all!

Q) Take 10 integer inputs from user and store them in a list and print them on screen.

In [117]:
interger = 10
user_list = []
print('To create a list of 10 values')
while(interger > 0):
  num = input('enter list value : ')
  user_list.append(num)
  interger -= 1

print('Your list is ',user_list)

To create a list of 10 values
enter list value : 2
enter list value : 4
enter list value : 3
enter list value : 6
enter list value : 4
enter list value : 4
enter list value : 3
enter list value : 2
enter list value : 7
enter list value : 6
Your list is  ['2', '4', '3', '6', '4', '4', '3', '2', '7', '6']