# Python
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

### It is used for:

- web development (server-side),
- software development,
- mathematics,
- system scripting.

Comments :--
- Comments can be used to explain Python code.

- Comments can be used to make the code more readable.

- Comments can be used to prevent execution when testing code.

there are two types of comment-----

In [0]:
#Ths is a single line comment

In [3]:
'''This is a  multiline comment'''

'This is a  multiline comment'

### Variables :--
- Variables are containers for storing data values.
- A variable is created the moment you first assign a value to it.

In [0]:
#Unlike other programming languages, Python has no command for declaring a variable.

a=10
b=20
s='Hello World'

print(a)
print(b)
print(s)

10
20
Hello World

In [0]:
s='hello'
s="hello"

#both are same

In [0]:
#Assign Value to Multiple Variables

a,b,c = "Orange" ,"Banana", "Cherry"
print(a)
print(b)
print(c)

Orange
Banana
Cherry

In [0]:
#same value to multiple variables
x=y=z="orange"
print(x)
print(y)
print(z)

orange
orange
orange

In [0]:
x= "Hello "
y = "world"
z = x+y
print(z)

Hello world

In [0]:
x = 5
y = 10
print(x+y)

15

In [0]:
# x = 5
# y ='jonh'
# print(x + y)
# integer and string can't concatinate

# error : unsupported operand type(s) for +: 'int' and 'str'

In [0]:
#Getting the Data Type
a = 4
type(a)

int

Casting : also known as typecasting

In [0]:
i = 4
f = 4.54
s = '6'

print(i)
print(f)
print(s)

print(type(i))
print(type(f))
print(type(s))

4
4.54
6
<class 'int'>
<class 'float'>
<class 'str'>

In [0]:
i = int(4)
f = int(4.54)
s = int('6')

print(i)
print(f)
print(s)

print(type(i))
print(type(f))
print(type(s))

4
4
6
<class 'int'>
<class 'int'>
<class 'int'>

In [0]:
i = float(4)
f = float(4.54)
s = float('6')

print(i)
print(f)
print(s)

print(type(i))
print(type(f))
print(type(s))

4.0
4.54
6.0
<class 'float'>
<class 'float'>
<class 'float'>

In [0]:
i = str(4)
f = str(4.54)
s = str('sdsd6')

print(i)
print(f)
print(s)

print(type(i))
print(type(f))
print(type(s))

4
4.54
sdsd6
<class 'str'>
<class 'str'>
<class 'str'>

### String 
A string is a sequence of characters

In [0]:
print('hello')
print("hello")

hello
hello

In [0]:
s = "hello"
print(s)

hello

In [0]:
# Multiline string

s = """ This is 
multiline stirng"""

print(s)

 This is
multiline stirng

In [0]:
# Strings are ARRAYS

s = 'Hello World'

'''INDEXING  
     -positive indexing

         'H  E  L  L  O     W  O  R  L  D'
         [0][1][2][3][4][5][6][7][8][9][10]

'''
print("character present in index 3rd :",s[3]) # returns only character present in index 3

character present in index 3rd : l

In [0]:
# string slicing  [start : end : step]

print(s[:]) # returns whole string
print(s[4:11]) # returns characters from index 4 to 10 exclude index 11
print(s[1::2]) # returns characters from index 1 to last index with step 2

Hello World
o World
el ol

In [0]:
# Negative INDEXING
'''
' H    E   L   L   O       W   O   R   L   D'
[-11][-10][-9][-8][-7][-6][-5][-4][-3][-2][-1]

'''

s = 'Hello World'

print(s[-1])
print(s[-1:-5:-1]) # by default step is +ve 1

print(s[::-1])
print(s[::-2])

d
dlro
dlroW olleH
drWolH

In [0]:
#String length

#len()
s = 'hello'
len(s)

5

In [0]:
# strip()
a = "         hello"
a.strip()

'hello'

In [0]:
# lower
a = 'HELLO'
a.lower()

'hello'

In [0]:
#upper()
a = 'hello'
a.upper()

'HELLO'

In [0]:
a = 'welcome to python programming..'
a.title()

'Welcome To Python Programming..'

In [0]:
a = 'S'
print(a.replace('S','K'))
b = 'Hello World'
b.replace('Hello','Dream')

K

'Dream World'

In [0]:
a = 'hello'
a.replace(a[0],'H')

'Hello'

In [0]:
a = 'lllllllooo'
a.replace('ooo','lll')

'llllllllll'

In [0]:
# split()
s = 'hello, world'
print(s.split(','))

['hello', ' world']

In [0]:
# Checking String

txt = "Hello , Welcome to this place"
print("to" in txt)
print("to" not in txt)

True
False

In [0]:
# sting concatination
a = 'S'
b = 'K'
print(a+b)
print(a+" "+b)

SK
S K

In [0]:
s = "a"
print(s * 4)

aaaa

string formating

In [0]:
name = 'Sapna'
age = 21
print('My Name is {} and my age is {} '.format(name , age))

My Name is Sapna and my age is 21

In [0]:
fname  = 'Sapna'
lname = 'Kumari'
age = 21

#fname = {0}
#lname = {1}
#age = {2}

print("First name is {0} and last name is {1}, and age is {2}".format(fname,lname,age)) # correct
print("------------------------------------------------------------")

print("First name is {2} and last name is {0}, and age is {1}".format(fname,lname,age)) # wrong
print("------------------------------------------------------------")

print("First name is {0} and last name is {1}, and age is {2}".format(lname,age,fname)) # wrong
print("------------------------------------------------------------")

print("First name is {2} and last name is {0}, and age is {1}".format(lname,age,fname)) # correct

First name is Sapna and last name is Kumari, and age is 21
------------------------------------------------------------
First name is 21 and last name is Sapna, and age is Kumari
------------------------------------------------------------
First name is Kumari and last name is 21, and age is Sapna
------------------------------------------------------------
First name is Sapna and last name is Kumari, and age is 21

In [0]:
# escape character
'''You will get an error if you use double quotes 
inside a string that is surrounded by double quotes:'''

print("Welcome to \"Python\" programming")

Welcome to "Python" programming

string methods

In [0]:
# partition (): returns tuple
s = 'I could eat mangose all day'
print(s.partition('mangose'))

('I could eat ', 'mangose', ' all day')

In [0]:
# split():splits a string into a list.

s = 'I could eat mangose all day'
print(s.split())

['I', 'could', 'eat', 'mangose', 'all', 'day']

In [0]:
s='banana,mango,graps,apple'
print(s.split(','))

['banana', 'mango', 'graps', 'apple']

In [0]:
s = 'fhkjdf#kfdhk#sjdg#kriegnv#bfe'
print(s.split('#',2))

['fhkjdf', 'kfdhk', 'sjdg#kriegnv#bfe']

In [0]:
# count():Returns the number of times a specified value occurs in a string

a = 'jsdgffghjfgbhfisjkjsdfjk'
print(a.count('r'))
print(a.count('f'))
print(a.count('g'))

0
5
3

In [0]:
# center():Returns a centered string
a = 'hello'
print(a.center(20,'*'))

*******hello********

In [0]:
#endswith()
s = 'aaaaaabaab'
print(s.endswith("b"))

True

In [0]:
# find():returns index of first occurence of element
# rfind():returns index of lsst occurence of element


s = 'My name is sapna'
print(s.find('n'))
print(s.rfind('n'))

3
14

In [0]:
#returns True or False based on condition
#isalnum()
#isalpha()
#isdecimal()
#isdigit()
#istitle()
#isupper()
#islower()

###Boolean Values

In [0]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [0]:
#True values
print(bool('gdhj'))
print(bool(3))

True
True

In [0]:
print(bool(0))
print(bool(None))
print(bool(""))

False
False
False

### Python Operators

Operators are used to perform operations on variables and values.

Arithmetic Operators : Arithmetic operators are used with numeric values to perform common mathematical operations

In [0]:
x = 15
y = 7

print("x + y = ",(x+y))  #Addition
print("x - y = ",(x-y))  #subtraction
print("x * y = ",(x*y))  #multiplication
print("x / y = ",(x/y))  #division
print("x // y = ",(x//y)) #floor division
print("x % y = ",(x%y))  #modulus
print("x ** y = ",(x**y)) #Exponentiation

x + y =  22
x - y =  8
x * y =  105
x / y =  2.142857142857143
x // y =  2
x % y =  1
x ** y =  170859375

Assignment operator : Assignment operators are used to assign values to variables.

In [0]:
x = 5
print('Value of x is ',x)

x += 3
print(x)   #x= x + 3

Value of x is  5
8

In [0]:
x = 5
print('Value of x is ',x)

x -= 3
print(x)   #x= x + 3

# x /= 3 --->   x = x/3
# x %= 3 --->   x = x%3
# x //= 3 --->   x = x//3
# x **= 3 --->   x = x**3
# x &= 3 --->   x = x&3
# x |= 3 --->   x = x|3
# x ^= 3 --->   x = x^3
# x >>= 3 --->   x = x>>3
# x <<= 3 --->   x = x<<3

Value of x is  5
2

Comparision Operator:
Comparison operators are used to compare two values

In [0]:
x = 4
y =10

print('Value of x is : ',x)
print('Value of y is : ',y)
print('-----------------------------------------')
print('x == y is ',(x == y))    # equal (==)
print('x != y is ',(x != y))     # not equal ( !=)
print('x > y  is ',(x > y))      # greater than ( > )
print('x < y  is ',(x < y))      # less than ( < )
print('x >= y is ',(x >= y))     # greater than equal to ( >= )
print('x <= y is ',(x <= y))     # less than equal to ( <= )

Value of x is :  4
Value of y is :  10
-----------------------------------------
x == y is  False
x != y is  True
x > y  is  False
x < y  is  True
x >= y is  False
x <= y is  True

Logical Operator:Logical operators are used to combine conditional statements

In [0]:
# and : Returns True if both statements are true 
# or : Returns True if one of the statements is true
# not : Reverse the result, returns False if the result is true

In [0]:
x = 5

c1 = x > 3 and  x < 10
c2 = x < 3 or x < 10
print(c1)
print(c2)
print(not(c1))
print(not(c2))

True
True
False
False

Identity Operator : Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [0]:
# is : Returns True if both variables are the same object	
x = ['hello','world']
y = ['hello','world']
z = x
print(x is z)   # returns True because z is the same object as x
print(x is y)   # returns False because x is not the same object as y, even if they have the same content
print(x == y)   # this comparison returns True because x is equal to y

True
False
True

In [0]:
# is not : Returns True if both variables are not the same object	
x = ['hello','world']
y = ['hello','world']
z = x
print(x is not z)
print(x is not y)
print(x != y)

False
True
False

Membership Operator:

In [0]:
# in : Returns True if a sequence with the specified value is present in the object

x = [1,2,34,5]
print(1 in x)
print(21 in x)

True
False

In [0]:
#not in : Returns True if a sequence with the specified value is not present in the object

x = [1,2,34,5]
print(1 not in x)
print(21 not in x)

False
True

Bitwise Operators: Bitwise operators are used to compare (binary) numbers

In [0]:
# & - bitwise AND
# | - bitwise OR
# ^ - bitwise XOR
# ~ - bitwise NOT
# >> - Bitwise right shift
# << - Bitwise left shift