## Tuples

## Tuples

## Tuples
A tuple in Python is similar to a list. The difference is that it is unchangeable.

### Creating a Tuple
A tuple is created by placing all the items (elements) inside parentheses (), separated by commas.

A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).

In [ ]:
#empty tuple
t = () 
print(type(t))
print(t)

<class 'tuple'>
()

In [ ]:
# having one element

# Not a tuple
t = (2)
print(type(t))

t1 = (2,)   
print(type(t1))

<class 'int'>
<class 'tuple'>

In [ ]:
# having integers
t2 = (11,342,54,67)
t2

(11, 342, 54, 67)

In [ ]:
# tubple with mixed datatype
mix = (12, 'A', 'lsdkfkf', 26.54, 6+7j, '')
mix

(12, 'A', 'lsdkfkf', 26.54, (6+7j), '')

In [ ]:
# nested tuples
nt = ('ajdah', [2,4,'B'],(76.4,'S',64))
nt

('ajdah', [2, 4, 'B'], (76.4, 'S', 64))

A tuple can also be created without using parentheses. This is known as tuple packing.

In [ ]:
my_tuple = 23, 43.5, 'Dream'
print(my_tuple)

(23, 43.5, 'Dream')

In [ ]:
# tuple unpacking
a, b, c = my_tuple
print("a = ", a)
print("b = ", b)
print("c = ", c)

a =  23
b =  43.5
c =  Dream

### The tuple() Constructor :
It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
tp = tuple((1,2,3,4))
tp

(1, 2, 3, 4)

In [ ]:
tp1 = tuple([6,3,1,6])
tp1

(6, 3, 1, 6)

Access Tuple Elements
There are various ways in which we can access the elements of a tuple.

1. Indexing

In [ ]:
mix = (12, 'A', 'lsdkfkf', 26.54, 6+7j)
# mix[0] = 12
# mix[1] = 'A'
# mix[2] = 'lsdkfkf'
# mix[3] = 26.54
# mix[4] = 6+7j

print(mix[1])
print(mix[4])

A
(6+7j)

In [ ]:
nested_t = (24, 5, 'A', 'B', ['abc','def','sja'], (1,3,5))

print(nested_t[0])
print(nested_t[3])
print(nested_t[4])
print(nested_t[5])

24
B
['abc', 'def', 'sja']
(1, 3, 5)

In [ ]:
print(nested_t[4][2])
print(nested_t[5][2])

sja
5

2. Negative Indexing

Python allows negative indexing for its sequences.

The index of -1 refers to the last item, -2 to the second last item and so on.

In [ ]:
nested_t

(24, 5, 'A', 'B', ['abc', 'def', 'sja'], (1, 3, 5))

In [ ]:
nested_t[-1]

(1, 3, 5)

In [ ]:
nested_t[-3]

'B'

3. Slicing

We can access a range of items in a tuple by using the slicing operator colon :

In [ ]:
nested_t

(24, 5, 'A', 'B', ['abc', 'def', 'sja'], (1, 3, 5))

In [ ]:
nested_t[::]

(24, 5, 'A', 'B', ['abc', 'def', 'sja'], (1, 3, 5))

In [ ]:
nested_t[1:]

(5, 'A', 'B', ['abc', 'def', 'sja'], (1, 3, 5))

In [ ]:
nested_t[1:5]

(5, 'A', 'B', ['abc', 'def', 'sja'])

In [ ]:
nested_t[:5]

(24, 5, 'A', 'B', ['abc', 'def', 'sja'])

Negative slicing

In [ ]:
nested_t[::-1]

((1, 3, 5), ['abc', 'def', 'sja'], 'B', 'A', 5, 24)

In [ ]:
nested_t[-3::-1]

('B', 'A', 5, 24)

### Changing a Tuple

Unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once they have been assigned. But, if the element is itself a mutable data type like list, its nested items can be changed.

We can also assign a tuple to different values (reassignment).

In [ ]:
my_tuple = (112, 45, 53, (2, 5, 'A', 'B'),[10, 54, 6, 74])

In [ ]:
my_tuple[1]

45

In [ ]:
#TypeError: 'tuple' object does not support item assignment
#my_tuple[1] = 100

In [ ]:
# TypeError: 'tuple' object does not support item assignment
# print(my_tuple[3])
# print(my_tuple[3][1])

# my_tuple[3][0] = 's'

In [ ]:
print(my_tuple[4])
print(my_tuple[4][1])

my_tuple[4][1] = 'ABC'
my_tuple[4][3] = 'ssss'
print(my_tuple)

[10, 54, 'ABC', 74]
54
(112, 45, 53, (2, 5, 'A', 'B'), [10, 'ABC', 'ABC', 'ssss'])

 We can use **+** operator to combine two tuples. This is called concatenation.

In [41]:
t1 = (1,2,3,4)
t2 = ('A','B','C','D')
print(t1 + t2)
t1[:-1]

(1, 2, 3, 4, 'A', 'B', 'C', 'D')

(1, 2, 3)

We can also repeat the elements in a tuple for a given number of times using the * operator.

In [ ]:
r = ('Dream ', 4) * 5
print(r)

('Dream ', 4, 'Dream ', 4, 'Dream ', 4, 'Dream ', 4, 'Dream ', 4)

### Deleting a Tuple
As discussed above, we cannot change the elements in a tuple. It means that we cannot delete or remove items from a tuple.

Deleting a tuple entirely, however, is possible using the keyword del.

In [ ]:
# Deleting tuples
t = (1,2,3,4,5,6)

# can't delete items
# TypeError: 'tuple' object doesn't support item deletion
# del my_tuple[3]

# Can delete an entire tuple
del(t)

# NameError: name 't' is not defined
# print(t)

### Tuple Methods
Methods that add items or remove items are not available with tuple. 

Only the following two methods are available.
- count()
- index()
- len()

In [ ]:
my_tuple = (1,'a',2,2,'b','c','a','a')

print("How many times 'a' in tuple :", my_tuple.count('a'))
print("How many times 'a' in tuple :", my_tuple.count(2))

# index of first index of an element
print("index of 'a' :", my_tuple.index('a'))

How many time 'a' in tuple : 3
How many time 'a' in tuple : 2
index of 'a' : 1

In [ ]:
# lenth of tuple
len(my_tuple)

8

## Other Tuple Operations
### 1. Tuple Membership Test
We can test if an item exists in a tuple or not, using the keyword in.

In [ ]:
# Membership test in tuple
Tuple = ('A', 'B', 'C', 'D','E')

# In operation
print("'A' is present in Tuple -->", ('A' in Tuple))
print("'Z' is present in Tuple -->", ('Z' in Tuple))
print("'D' is present in Tuple -->", ('D' in Tuple))

'A' is present in Tuple --> True
'Z' is present in Tuple --> False
'D' is present in Tuple --> True

In [ ]:
# not in operation

print("'A' is present in Tuple -->", ('A' not in Tuple))
print("'Z' is present in Tuple -->", ('Z' not in Tuple))

'A' is present in Tuple --> False
'Z' is present in Tuple --> True

### 2. Iterating Through a Tuple
We can use a for loop to iterate through each item in a tuple.

In [ ]:
T = ('banana', 'mango', 'graps', 'apple', 'kiwi')

for f in T:
  print(f)

banana
mango
graps
apple
kiwi

# Programm

### 1. Write a Python program to add an item in a tuple.

In [ ]:
t = (1, 2)
print(t)

new = t + (3,)
print(new)

t1 = (5,6,7,8,9)

new = t + t1[2:]
print(new)

(1, 2)
(1, 2, 3)
(1, 2, 7, 8, 9)

### 2. Write a Python program to convert a tuple to a string.

In [ ]:
t = ('D','r','e','a','m')
print(t)
print(type(t))

t = "".join(t)
print(t)
type(t)

('D', 'r', 'e', 'a', 'm')
<class 'tuple'>
Dream

str

In [ ]:
t = ('a','b')
print(t)
print(type(t))

s = str(t)
print(s)
print(type(s))

('a', 'b')
<class 'tuple'>
('a', 'b')
<class 'str'>

### 3. Write a Python program to get the 4th element and 4th element from last of a tuple.

In [ ]:
t = (1,2,3,4,5,6,7,8,9)
print("4th element of tuple is :", t[3])
print("4th element from last of a tuple :", t[-4])

4th element of tuple is : 4
4th element from last of a tuple : 6

### 4. Write a Python program to find the repeated items of a tuple.

In [ ]:
t = (1,2,4,63,2,2,5,5,7,1,1,14,43,7,8,5,4,4,4,4,30,6,10,10)


for i in t:
  if t.count(i)>1:
    print(i,end=',')

1,2,4,2,2,5,5,7,1,1,7,5,4,4,4,4,10,10,

### 5.  Write a Python program to check whether an element exists within a tuple.

In [6]:
t = ('a','b','c','d','e')
c = input()

if c in t:
  print('exist')
else:
  print('not exist')

w
not exist

### 6. Write a Python program to remove an item from a tuple.

### 7. Write a Python program to convert a list of tuples into a dictionary

In [8]:
t = ((1,'A'),(2,'B'),(3,'C'))
tuple_to_dict = {k:v for k,v in t}
tuple_to_dict

{1: 'A', 2: 'B', 3: 'C'}

### 8.Write a Python program to print a tuple with string formatting.

Sample tuple : (100, 200, 300)


Output : This is a tuple (100, 200, 300)

In [13]:
Sample_tuple = (100, 200, 300)
print("This is a tuple {}".format(Sample_tuple))

This is a tuple (100, 200, 300)

### 9.Write a Python program to replace last value of tuples in a list. Go to the editor

Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [32]:
Sample_list= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
l = []
for i in range(len(Sample_list)):
  l.append(list(Sample_list[i]))
  l[i][2] = 100 
  
output = []   
for i in range(len(l)):
  t = tuple(l[i])
  output.append(t) 

output

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [33]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [37]:
Sample_list[1][:-1] + (100,)

(40, 50, 100)

### 10. Write a Python program to remove an empty tuple(s) from a list of tuples. Go to the editor

Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [48]:
Sample_data = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

output = []
for i in Sample_data:
  if len(i) != 0:
    output.append(i)

output

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [51]:
[i for i in Sample_data  if i]

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

### 11.Write a Python program to count the elements in a list until an element is a tuple.

In [73]:
lst = [1,2,3,4,5,(1,2)]

cnt = 0
for i in lst:
  if type(i) != tuple:
    cnt+=1  

print(cnt)

5

In [74]:
lst = [1,2,3,4,5,(1,2)]

cnt = 0
for i in lst:
  if isinstance(i, tuple):
    break
  cnt+=1  

print(cnt)

5